# HTTP Server
[server]
Address = ":8080"
ServerAgent = "goframe_template"
LogPath = "./data/log/goframe_template/server"
DumpRouterMap = false

# Logger.
[logger]
Path = "./data/log/goframe_template"
Level = "all"
Stdout = true
elasticsearch = false # 是否启用 log 发送至 elasticsearch

# Database.
[database]
link = "mysql:root:MYSQL_PASSWORD@tcp(db:3306)/goframe_template"
debug = true
forceCreate = true # 强制创建,启用后强制删除旧数据库后再创建新的,常用于开发
sqlOnCreate = [
    "./document/create.sql",
    "./document/dev-data.sql"
] # 创建数据库时启用,按顺序执行指定路径的 SQL
randomAdminPasswordOnCreate = true

# Database logger.
[database.logger]
Path = "./data/log/gf-app/sql"
Level = "all"
Stdout = false

# GF-CLI工具配置
[gfcli]

# 自定义DAO生成配置(默认是读取database配置)
[[gfcli.gen.dao]]
link = "mysql:root:MYSQL_PASSWORD@tcp(db:3306)/goframe_template"
tables = ""

[elasticsearch]
enabled = false
username = "elastic"
password = "changeme"
index = "goframe_template"